<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= title%>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/head')%>
</head>

<body>
    <!-- HEADER -->
    <%- include('partials/navbar')%>

        <!-- MAIN CONTENT -->
        <header class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="/img/66.png" class="w-25 m-auto animated bounceIn" alt="Website Logo" />
                <h1 class="display-1 my-5 text-uppercase fw-bold">MANU</h1>
                <a href="/about" class="btn btn-primary w-25">Sobre mi</a>
            </div>
        </header>

        <!-- FOOTER -->
        <%- include('partials/footer')%>
</body>

</html>